<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Flight</h1>
  <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
  </div>
  <h3>Airline: <%= flight.airline %></h3>
  <h3>Airport: <%= flight.airport %></h3>
  <h3>Flight number: <%= flight.flightNo %></h3>
  <h3>Departs: <%= flight.departs %></h3>
  
  <tbody>
    <% flight.tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.seat %></td>
        <td>$<%= ticket.price %></td>
      </tr>
    <% }) %>
  </tbody>
</main>



<%- include('../partials/footer') %>