<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Flight</h1>
  <h3>Airline: <%= flight.airline %></h3>
  <h3>Airport: <%= flight.airport %></h3>
  <h3>Flight number: <%= flight.flightNo %></h3>
  <h3>Departs: <%= flight.departs %></h3>
</main>



<%- include('../partials/footer') %>